:root {
    --primary-clr: white;
    --secondary-clr: black;
    --main-pd: 0.5rem;
    --main-rd: 0.25rem;
    --btn-pg: 0.5rem 0.75rem;
}
* {
    font-family: sans-serif;
    transition: all 350ms ease-in-out;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: light-dark(var(--primary-clr), var(--secondary-clr));
    color: light-dark(var(--secondary-clr), var(--primary-clr));
}

#card {
    position: relative;
    width: 16rem;
    height: fit-content;
    padding: var(--main-pd);
    border-radius: calc(var(--main-rd) + var(--main-pd));
    background-color: var(--primary-clr);
    color: var(--secondary-clr);
    #photo {
        display: block;
        width: 100%;
        height: 23rem;
        border-radius: var(--main-rd);
        object-fit: cover;
    }
    #info {
        position: absolute;
        inset: var(--main-pd);
        display: flex;
        flex-direction: column;
        justify-content: end;
        border-radius: var(--main-rd);
        color: var(--primary-clr);
        #name {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 0.25rem;
            padding-inline: var(--main-pd);
            z-index: 1;
            span {
                font-size: large;
                text-shadow: 0 0 0.15rem var(--secondary-clr);
                line-height: 1ch;
            }
            img {
                height: 0.65rem;
                border-radius: 50%;
                background: radial-gradient(white 50%, transparent 50%);
            }
        }
        #other {
            font-size: smaller;
            font-weight: lighter;
            padding: var(--main-pd);
            background-color: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(20px);
            border-bottom-left-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
            border: none;
            line-height: 3ch;
            #description {
                text-shadow: 0 0 0.05rem var(--primary-clr),
                    0 0 0.5rem var(--secondary-clr);
            }
            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: var(--main-pd);
                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.25rem;
                    font-size: smaller;
                    svg {
                        height: 1rem;
                        fill: var(--primary-clr);
                    }
                }
                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;
                    padding: var(--btn-pg);
                    font-size: smaller;
                    font-weight: bold;
                    border: none;
                    border-radius: 5rem;
                    outline: none;
                    background-color: var(--primary-clr);
                    color: var(--secondary-clr);
                    box-shadow: 0 0 0.05rem 0.01rem rgb(36, 35, 35);
                    cursor: pointer;
                    img {
                        height: 1rem;
                    }
                    &:hover,
                    &:focus-visible {
                        background-color: rgb(196, 193, 193);
                    }
                }
            }
        }
    }
}
